@import url('https://fonts.googleapis.com/css?family=Roboto:500,400,300');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  font-size: 15px;
}

.main-title {
  font-weight: 300;
  text-align: center;

}

.app-bar {
  position: 'fixed';
  top: 0;
  display: flex;
}
