@import url('https://fonts.googleapis.com/css?family=Roboto:500,400,300');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  font-size: 15px;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.title-group {
  position: absolute;
  top: 30vh;
  width: 100%;
}
.main-title {
  font-size: 50px;
}

.sub-title {
}

.main-title, .sub-title, .footer {
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  /*color: white;*/
}

p.about-me {
  margin-bottom: 20px;
}



